#wrapper{
    width: 1200px;
    height: 100px;
    margin: 0 auto;
}
/*header-index*/
#header-index{
    height: 100px;
    line-height: 100px;
    font-size: 30px;
}
#header-index a:hover{
    color: turquoise;
}
/*navfirst*/
#navfirst{
    background: lightgreen;
}
#navfirst ul{
   
}
#navfirst li{
    float: left;

}
#navfirst li a{
    display: inline-block;
    height: 48px;
    line-height: 48px;
    width: 240px;
    background: #e8e7e3;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    color: #777777;

}
#navfirst a:hover,
#navfirst .clickThis{
    background:rgb(54, 54, 54) ;
    color: rgb(218, 218, 218);
}
/*----------body-index----------*/
#body-index{
    margin-top: 20PX;
}
#body-index >div{
    float: left;
}
#body-index .title{
    width: 178;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #777777;
    background: #e8e7e3;
}
#body-index ul{
    padding: 10px 0;
}
/*navsecond*/
#navsecond{
    width: 180px;
    box-sizing:border-box;
    margin-left: -100%;
    border: 1px solid #e8e7e3;
    background: rgb(255, 252, 247);
}
#navsecond a{
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    padding: 0 10px;
    line-height: 30px;
    font-weight: 400;


}
#navsecond a:hover,
#navsecond .clickThis{
    background:#777777 ;
    color: rgb(218, 218, 218);
}
/*maincontent*/
#maincontent{
    width: 100%;
    box-sizing:border-box;
    padding: 10px;
    border: 1px solid #e8e7e3;
}
#maincontent .content{
    margin:0 180px;
}
/*sidebar*/
#sidebar{
    width: 180px;
    box-sizing:border-box;
    margin-left: -180px;
    border: 1px solid #e8e7e3;
    
}
#sidebar ul li{
    padding: 0 10px;
}
#sidebar ul li::before,
#sidebar ul li::after{
    content: "";
    clear: both;
    display: block;
}
#sidebar ul li div:nth-child(1){
    float: left;
}
#sidebar ul li div:nth-child(2){
    float: right;
}
/*footer*/
#footer{
    background: rgb(241, 226, 255);
}


